In [383]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme()
from utils import func as f
import geopandas as gpd
import folium
from folium.plugins import HeatMap
from shapely.geometry import Point

In [384]:
pd.set_option('display.max_columns', None)

In [385]:
rural = pd.read_excel(r'C:\Users\zetru\OneDrive\Bureau\Projets python\projet bargain\data\grille_densite_7_niveaux_2022.xlsx', header=4)
rural

,CODGEO,LIBGEO,DENS,LIBDENS,PMUN19,P1,P2,P3,P4,P5,P6,P7
0,01001,L'Abergement-Clémenciat,6,Rural à habitat dispersé,779,0.0,0.00,0.00,0.00,0.00,78.60,21.40
1,01002,L'Abergement-de-Varey,6,Rural à habitat dispersé,256,0.0,0.00,0.00,0.00,0.00,88.08,11.92
2,01004,Ambérieu-en-Bugey,2,Centres urbains intermédiaires,14134,0.0,70.85,0.00,24.85,0.00,3.54,0.75
3,01005,Ambérieux-en-Dombes,5,Bourgs ruraux,1751,0.0,0.00,0.00,0.00,83.08,9.42,7.50
4,01006,Ambléon,6,Rural à habitat dispersé,112,0.0,0.00,0.00,0.00,0.00,100.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...
34950,97613,M'Tsangamouji,3,Petites villes,6432,0.0,0.00,94.20,0.00,0.00,5.80,0.00
34951,97614,Ouangani,3,Petites villes,10203,0.0,0.00,99.73,0.00,0.00,0.07,0.20
34952,97615,Pamandzi,2,Centres urbains intermédiaires,11442,0.0,87.65,0.00,12.01,0.00,0.00,0.34
34953,97616,Sada,2,Centres urbains intermédiaires,11156,0.0,82.32,0.00,11.79,0.00,5.74,0.16
34954,97617,Tsingoni,2,Centres urbains intermédiaires,13934,0.0,83.37,0.00,5.22,5.93,4.47,1.02

In [386]:
rural = rural[["CODGEO", "LIBGEO", "LIBDENS", "P1", "P2", "P3", "P4", "P5", "P6", "P7"]]
rural = rural.add_prefix('rural_')

In [387]:
rural.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34955 entries, 0 to 34954
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rural_CODGEO   34955 non-null  object
 1   rural_LIBGEO   34955 non-null  object
 2   rural_LIBDENS  34955 non-null  object
 3   rural_P1       34955 non-null  float64
 4   rural_P2       34955 non-null  float64
 5   rural_P3       34955 non-null  float64
 6   rural_P4       34955 non-null  float64
 7   rural_P5       34955 non-null  float64
 8   rural_P6       34955 non-null  float64
 9   rural_P7       34955 non-null  float64
dtypes: float64(7), object(3)
memory usage: 2.7+ MB

In [388]:
rural["rural_CODGEO"].value_counts(dropna=False)

rural_CODGEO
97617    1
01001    1
01002    1
01004    1
01005    1
        ..
01017    1
01016    1
01015    1
01014    1
01013    1
Name: count, Length: 34955, dtype: int64

In [389]:
communes = gpd.read_file("C:/Users/zetru/OneDrive/Bureau/Projets python/géographie/communes.geojson")
communes = communes.add_prefix('communes_')
communes

,communes_code,communes_nom,communes_geometry
0,03252,Saint-Pont,"POLYGON ((3.26205 46.16463, 3.2639 46.16695, 3..."
1,05039,Aubessagne,"POLYGON ((6.03282 44.71293, 6.03339 44.71395, ..."
2,16203,Mainzac,"POLYGON ((0.46574 45.53962, 0.46431 45.54032, ..."
3,16372,Souffrignac,"POLYGON ((0.49858 45.56477, 0.49624 45.56569, ..."
4,24002,Agonac,"POLYGON ((0.68751 45.30032, 0.69055 45.30082, ..."
...,...,...,...
35223,33533,Toulenne,"POLYGON ((-0.2749 44.57754, -0.27077 44.57379,..."
35224,33543,Verdelais,"POLYGON ((-0.28344 44.58404, -0.27936 44.58562..."
35225,33547,Villandraut,"POLYGON ((-0.40902 44.45365, -0.40668 44.45628..."
35226,40032,Belhade,"POLYGON ((-0.71017 44.34474, -0.71217 44.35558..."
35227,75056,Paris,"POLYGON ((2.42757 48.84157, 2.43718 48.84089, ..."

In [390]:
communes[communes.communes_code.str.contains("2B")]

,communes_code,communes_nom,communes_geometry
237,2B029,Barbaggio,"POLYGON ((9.33757 42.67814, 9.33895 42.68058, ..."
238,2B033,Bastia,"POLYGON ((9.45451 42.70812, 9.45611 42.70382, ..."
239,2B052,Campana,"POLYGON ((9.35032 42.38312, 9.34779 42.38241, ..."
240,2B054,Campile,"POLYGON ((9.32949 42.50592, 9.33052 42.50645, ..."
241,2B063,Carcheto-Brustico,"POLYGON ((9.34416 42.33922, 9.343 42.34029, 9...."
...,...,...,...
27544,2B261,Rogliano,"POLYGON ((9.39351 42.95826, 9.40102 42.96598, ..."
27545,2B281,Sisco,"POLYGON ((9.38507 42.83481, 9.40791 42.83049, ..."
27546,2B305,San-Martino-di-Lota,"POLYGON ((9.45626 42.71759, 9.45346 42.71721, ..."
27547,2B309,Santa-Maria-di-Lota,"POLYGON ((9.38812 42.74787, 9.38814 42.75089, ..."
27548,2B327,Tomino,"POLYGON ((9.42099 42.93811, 9.42304 42.93876, ..."

In [391]:
communes['communes_code'].isna().sum()

np.int64(0)

In [392]:
df_com = communes.merge(rural, left_on="communes_code", right_on="rural_CODGEO", how="left")
df_com

,communes_code,communes_nom,communes_geometry,rural_CODGEO,rural_LIBGEO,rural_LIBDENS,rural_P1,rural_P2,rural_P3,rural_P4,rural_P5,rural_P6,rural_P7
0,03252,Saint-Pont,"POLYGON ((3.26205 46.16463, 3.2639 46.16695, 3...",03252,Saint-Pont,Rural à habitat dispersé,0.0,0.0,0.00,0.0,0.0,86.25,13.75
1,05039,Aubessagne,"POLYGON ((6.03282 44.71293, 6.03339 44.71395, ...",05039,Aubessagne,Rural à habitat très dispersé,0.0,0.0,0.00,0.0,0.0,38.59,61.41
2,16203,Mainzac,"POLYGON ((0.46574 45.53962, 0.46431 45.54032, ...",16203,Mainzac,Rural à habitat très dispersé,0.0,0.0,0.00,0.0,0.0,0.00,100.00
3,16372,Souffrignac,"POLYGON ((0.49858 45.56477, 0.49624 45.56569, ...",16372,Souffrignac,Rural à habitat très dispersé,0.0,0.0,0.00,0.0,0.0,0.00,100.00
4,24002,Agonac,"POLYGON ((0.68751 45.30032, 0.69055 45.30082, ...",24002,Agonac,Rural à habitat dispersé,0.0,0.0,0.00,0.0,0.0,69.08,30.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35223,33533,Toulenne,"POLYGON ((-0.2749 44.57754, -0.27077 44.57379,...",33533,Toulenne,Petites villes,0.0,0.0,76.76,0.0,0.0,23.06,0.18
35224,33543,Verdelais,"POLYGON ((-0.28344 44.58404, -0.27936 44.58562...",33543,Verdelais,Petites villes,0.0,0.0,73.91,0.0,0.0,20.16,5.93
35225,33547,Villandraut,"POLYGON ((-0.40902 44.45365, -0.40668 44.45628...",33547,Villandraut,Rural à habitat dispersé,0.0,0.0,0.00,0.0,0.0,88.22,11.78
35226,40032,Belhade,"POLYGON ((-0.71017 44.34474, -0.71217 44.35558...",40032,Belhade,Rural à habitat très dispersé,0.0,0.0,0.00,0.0,0.0,24.66,75.34
35227,75056,Paris,"POLYGON ((2.42757 48.84157, 2.43718 48.84089, ...",75056,Paris,Grands centres urbains,100.0,0.0,0.00,0.0,0.0,0.00,0.00

In [393]:
df_com.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 35228 entries, 0 to 35227
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   communes_code      35228 non-null  object
 1   communes_nom       35228 non-null  object
 2   communes_geometry  35228 non-null  geometry
 3   rural_CODGEO       34824 non-null  object
 4   rural_LIBGEO       34824 non-null  object
 5   rural_LIBDENS      34824 non-null  object
 6   rural_P1           34824 non-null  float64
 7   rural_P2           34824 non-null  float64
 8   rural_P3           34824 non-null  float64
 9   rural_P4           34824 non-null  float64
 10  rural_P5           34824 non-null  float64
 11  rural_P6           34824 non-null  float64
 12  rural_P7           34824 non-null  float64
dtypes: float64(7), geometry(1), object(5)
memory usage: 3.5+ MB

In [394]:
indicateurs = pd.read_csv(r"data\dvf2022.csv")
indicateurs = indicateurs.dropna(subset=["INSEE_COM"])
indicateurs

,Unnamed: 0,INSEE_COM,Annee,Nb_mutations,NbMaisons,NbApparts,propmaison,propappart,PrixMoyen,Prixm2Moyen,SurfaceMoy
0,1,01001,2022,10,10.0,0.0,100.000000,0.000000,317196.200000,2773.700000,118.000000
1,2,01002,2022,3,3.0,0.0,100.000000,0.000000,330966.666667,2575.666667,135.333333
2,3,01004,2022,217,128.0,89.0,58.986175,41.013825,204375.921659,2471.317972,83.004608
3,4,01005,2022,35,32.0,3.0,91.428571,8.571429,337132.657143,3109.800000,107.228571
4,5,01006,2022,1,1.0,0.0,100.000000,0.000000,135000.000000,1421.000000,95.000000
...,...,...,...,...,...,...,...,...,...,...,...
30909,30910,95676,2022,3,3.0,0.0,100.000000,0.000000,240000.000000,2973.666667,78.333333
30910,30911,95678,2022,19,19.0,0.0,100.000000,0.000000,383476.842105,4334.052632,98.052632
30911,30912,95680,2022,201,63.0,138.0,31.343284,68.656716,182349.104478,2739.134328,68.492537
30912,30913,95682,2022,6,5.0,1.0,83.333333,16.666667,219833.333333,2543.166667,93.833333
30913,30914,95690,2022,6,6.0,0.0,100.000000,0.000000,294966.666667,3337.833333,95.000000

In [395]:
dvf2021 = pd.read_csv(r"data\dvf2021.csv")
dvf2021 = (
dvf2021
    .dropna(subset=["INSEE_COM"])
    [["INSEE_COM", "Nb_mutations", "PrixMoyen", "Prixm2Moyen"]]
    .add_prefix('21_')
    .rename(columns={"21_INSEE_COM": "INSEE_COM"})
)
dvf2021

      INSEE_COM  21_Nb_mutations   21_PrixMoyen  21_Prixm2Moyen
0         01001               11  274126.818182     2551.272727
1         01002                3  163766.666667     1290.000000
2         01004              249  195581.831325     2313.823293
3         01005               22  290837.590909     2970.045455
4         01006                6  151300.000000     1415.333333
...         ...              ...            ...             ...
31095     95676                8  313999.875000     2837.125000
31096     95678               17  275319.411765     3911.764706
31097     95680              195  176547.051282     2624.666667
31098     95682                3  256666.666667     2606.000000
31099     95690                2  338200.000000     3532.000000

[31100 rows x 4 columns]

In [396]:
indicateurs = (
    indicateurs
    .merge(dvf2021, on="INSEE_COM", how="left")
    )

# Remplissage des valeurs manquantes de l'année 2021 par celles de 2022
indicateurs["21_Nb_mutations"] = indicateurs["21_Nb_mutations"].fillna(indicateurs["Nb_mutations"])
indicateurs["21_PrixMoyen"] = indicateurs["21_PrixMoyen"].fillna(indicateurs["PrixMoyen"])
indicateurs["21_Prixm2Moyen"] = indicateurs["21_Prixm2Moyen"].fillna(indicateurs["Prixm2Moyen"])

# Indicateurs d'évolution
indicateurs["Evolution_21_22_Nb_mutations"] = (indicateurs["Nb_mutations"] - indicateurs["21_Nb_mutations"]) / indicateurs["21_Nb_mutations"]
indicateurs["Evolution_21_22_PrixMoyen"] = (indicateurs["PrixMoyen"] - indicateurs["21_PrixMoyen"]) / indicateurs["21_PrixMoyen"]
indicateurs["Evolution_21_22_Prixm2Moyen"] = (indicateurs["Prixm2Moyen"] - indicateurs["21_Prixm2Moyen"]) / indicateurs["21_Prixm2Moyen"]

# Centrer-réduire les indicateurs d'évolution
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
indicateurs[["Evolution_21_22_Nb_mutations", "Evolution_21_22_PrixMoyen", "Evolution_21_22_Prixm2Moyen"]] = scaler.fit_transform(indicateurs[["Evolution_21_22_Nb_mutations", "Evolution_21_22_PrixMoyen", "Evolution_21_22_Prixm2Moyen"]])

In [397]:
indicateurs = indicateurs.drop(columns=["Unnamed: 0", "Annee"])

In [398]:
indicateurs = indicateurs.add_prefix('indicateurs_')
final = pd.merge(df_com, indicateurs, left_on="communes_code", right_on="indicateurs_INSEE_COM", how="left")
final

,communes_code,communes_nom,communes_geometry,rural_CODGEO,rural_LIBGEO,rural_LIBDENS,rural_P1,rural_P2,rural_P3,rural_P4,rural_P5,rural_P6,rural_P7,indicateurs_INSEE_COM,indicateurs_Nb_mutations,indicateurs_NbMaisons,indicateurs_NbApparts,indicateurs_propmaison,indicateurs_propappart,indicateurs_PrixMoyen,indicateurs_Prixm2Moyen,indicateurs_SurfaceMoy,indicateurs_21_Nb_mutations,indicateurs_21_PrixMoyen,indicateurs_21_Prixm2Moyen,indicateurs_Evolution_21_22_Nb_mutations,indicateurs_Evolution_21_22_PrixMoyen,indicateurs_Evolution_21_22_Prixm2Moyen
0,03252,Saint-Pont,"POLYGON ((3.26205 46.16463, 3.2639 46.16695, 3...",03252,Saint-Pont,Rural à habitat dispersé,0.0,0.0,0.00,0.0,0.0,86.25,13.75,03252,9.0,9.0,0.0,100.000000,0.000000,186123.777778,1627.111111,115.555556,10.0,157650.000000,1158.900000,-0.229770,0.065042,0.648839
1,05039,Aubessagne,"POLYGON ((6.03282 44.71293, 6.03339 44.71395, ...",05039,Aubessagne,Rural à habitat très dispersé,0.0,0.0,0.00,0.0,0.0,38.59,61.41,05039,13.0,6.0,7.0,46.153846,53.846154,104973.846154,1628.692308,66.846154,14.0,167517.142857,2043.714286,-0.197914,-0.919612,-0.801995
2,16203,Mainzac,"POLYGON ((0.46574 45.53962, 0.46431 45.54032, ...",16203,Mainzac,Rural à habitat très dispersé,0.0,0.0,0.00,0.0,0.0,0.00,100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16372,Souffrignac,"POLYGON ((0.49858 45.56477, 0.49624 45.56569, ...",16372,Souffrignac,Rural à habitat très dispersé,0.0,0.0,0.00,0.0,0.0,0.00,100.00,16372,4.0,4.0,0.0,100.000000,0.000000,179375.000000,1289.750000,123.750000,6.0,138850.000000,1254.000000,-0.489928,0.262780,-0.248554
4,24002,Agonac,"POLYGON ((0.68751 45.30032, 0.69055 45.30082, ...",24002,Agonac,Rural à habitat dispersé,0.0,0.0,0.00,0.0,0.0,69.08,30.92,24002,31.0,29.0,2.0,93.548387,6.451613,133275.645161,1406.387097,94.258065,23.0,159673.913043,1402.217391,0.269540,-0.549851,-0.309579
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35223,33533,Toulenne,"POLYGON ((-0.2749 44.57754, -0.27077 44.57379,...",33533,Toulenne,Petites villes,0.0,0.0,76.76,0.0,0.0,23.06,0.18,33533,36.0,28.0,8.0,77.777778,22.222222,184628.888889,2224.638889,83.222222,41.0,182919.048780,1979.317073,-0.254244,-0.239376,-0.020483
35224,33543,Verdelais,"POLYGON ((-0.28344 44.58404, -0.27936 44.58562...",33543,Verdelais,Petites villes,0.0,0.0,73.91,0.0,0.0,20.16,5.93,33543,23.0,23.0,0.0,100.000000,0.000000,207791.739130,2143.826087,101.391304,20.0,200210.050000,1741.900000,0.048971,-0.188681,0.234745
35225,33547,Villandraut,"POLYGON ((-0.40902 44.45365, -0.40668 44.45628...",33547,Villandraut,Rural à habitat dispersé,0.0,0.0,0.00,0.0,0.0,88.22,11.78,33547,11.0,10.0,1.0,90.909091,9.090909,186536.363636,2475.363636,77.818182,16.0,193328.125000,1834.875000,-0.466699,-0.318434,0.517519
35226,40032,Belhade,"POLYGON ((-0.71017 44.34474, -0.71217 44.35558...",40032,Belhade,Rural à habitat très dispersé,0.0,0.0,0.00,0.0,0.0,24.66,75.34,40032,3.0,3.0,0.0,100.000000,0.000000,225763.000000,2412.666667,101.666667,3.0,190000.000000,1874.000000,-0.118273,0.078573,0.370253
35227,75056,Paris,"POLYGON ((2.42757 48.84157, 2.43718 48.84089, ...",75056,Paris,Grands centres urbains,100.0,0.0,0.00,0.0,0.0,0.00,0.00,75056,32746.0,118.0,32628.0,0.360349,99.639651,578085.521896,10697.797685,52.976608,30244.0,579575.953049,10779.958603,-0.026036,-0.260562,-0.334900

In [399]:
revenu = pd.read_excel("data/revenu_commune.xlsx")

In [400]:
revenu.head()

,Code géographique,Libellé géographique,Nbre de ménages fiscaux,Nbre de personnes dans les ménages fiscaux,Nbre d'unités de consommation dans les ménages fiscaux,1er quartile (€),Médiane (€),3e quartile (€),Écart interquartile (€),1er décile (€),2e décile (€),3e décile (€),4e décile (€),6e décile (€),7e décile (€),8e décile (€),9e décile (€),rapport interdécile 9e décile/1er decile,S80/20,Indice de Gini,Part des revenus d’activité (%),dont part des salaires et traitements(%),dont part des indemnités de chômage (%),dont part des revenus des activités non salariées (%),"Part des pensions, retraites et rentes (%)",Part des revenus du patrimoine et autres revenus (%),Part de l'ensemble des prestations sociales (%),dont part des prestations familiales (%),dont part des minima sociaux (%),dont part des prestations logement (%),Part des impôts (%)
0,01001,L'Abergement-Clémenciat,346,895,"590,8",s,25820,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s
1,01002,L'Abergement-de-Varey,115,266,"181,0",s,24480,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s
2,01004,Ambérieu-en-Bugey,6855,15092,"10398,2",15800,21660,28430,12630,11890,14640,17040,19360,23980,26880,30590,36450,"3,1","4,1","0,280","72,3","65,7","3,2","3,4","25,3","10,2","7,0","2,6","3,0","1,4","-14,8"
3,01005,Ambérieux-en-Dombes,800,2028,"1329,7",20010,24610,31180,11170,15560,18980,21100,22670,26470,29780,32780,40580,"2,6","3,3","0,246","81,5","74,9","2,3","4,3","21,4","10,0","3,4","2,1","0,9","0,4","-16,3"
4,01006,Ambléon,51,107,"76,6",s,24210,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s

In [401]:
revenu = revenu.replace("s", np.nan)
revenu = revenu.replace("nd", np.nan)
revenu = revenu.replace(",", ".", regex=True)
revenu.head(5)

,Code géographique,Libellé géographique,Nbre de ménages fiscaux,Nbre de personnes dans les ménages fiscaux,Nbre d'unités de consommation dans les ménages fiscaux,1er quartile (€),Médiane (€),3e quartile (€),Écart interquartile (€),1er décile (€),2e décile (€),3e décile (€),4e décile (€),6e décile (€),7e décile (€),8e décile (€),9e décile (€),rapport interdécile 9e décile/1er decile,S80/20,Indice de Gini,Part des revenus d’activité (%),dont part des salaires et traitements(%),dont part des indemnités de chômage (%),dont part des revenus des activités non salariées (%),"Part des pensions, retraites et rentes (%)",Part des revenus du patrimoine et autres revenus (%),Part de l'ensemble des prestations sociales (%),dont part des prestations familiales (%),dont part des minima sociaux (%),dont part des prestations logement (%),Part des impôts (%)
0,01001,L'Abergement-Clémenciat,346,895,590.8,NaN,25820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01002,L'Abergement-de-Varey,115,266,181.0,NaN,24480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01004,Ambérieu-en-Bugey,6855,15092,10398.2,15800,21660,28430,12630,11890,14640,17040,19360,23980,26880,30590,36450,3.1,4.1,0.280,72.3,65.7,3.2,3.4,25.3,10.2,7.0,2.6,3.0,1.4,-14.8
3,01005,Ambérieux-en-Dombes,800,2028,1329.7,20010,24610,31180,11170,15560,18980,21100,22670,26470,29780,32780,40580,2.6,3.3,0.246,81.5,74.9,2.3,4.3,21.4,10.0,3.4,2.1,0.9,0.4,-16.3
4,01006,Ambléon,51,107,76.6,NaN,24210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [402]:
revenu.shape

(34929, 31)

In [403]:
revenu.isna().mean().reset_index(name='mean').sort_values(by='mean').head(10)

                                               index      mean
0                                  Code géographique  0.000000
1                               Libellé géographique  0.000000
2                            Nbre de ménages fiscaux  0.103181
3         Nbre de personnes dans les ménages fiscaux  0.103181
4  Nbre d'unités de consommation dans les ménages...  0.103181
6                                        Médiane (€)  0.103181
5                                   1er quartile (€)  0.846947
7                                    3e quartile (€)  0.846947
8                            Écart interquartile (€)  0.846947
9                                     1er décile (€)  0.846947

In [404]:
revenu_keep = revenu[
    [
        "Code géographique",
        "Libellé géographique",
        "Nbre de ménages fiscaux",
        "Nbre de personnes dans les ménages fiscaux",
        "Nbre d'unités de consommation dans les ménages fiscaux",
        "Médiane (€)",
    ]
]
revenu_keep = revenu_keep.add_prefix('revenu_')

In [405]:
revenu_2020 = pd.read_excel("data/revenu_2020.xlsx")
revenu_2020 = (
    revenu_2020[[
        "Code géographique",
        "Nbre de ménages fiscaux",
        "Nbre de personnes dans les ménages fiscaux",
        "Médiane (€)",
    ]]
    .replace("s", np.nan)
    .replace("nd", np.nan)
    .replace(",", ".", regex=True)
    )
revenu_2020 = revenu_2020.add_prefix('revenu_2020_')
revenu_2020['revenu_2020_Nbre de ménages fiscaux'] = revenu_2020['revenu_2020_Nbre de ménages fiscaux'].astype(float)
revenu_2020['revenu_2020_Nbre de personnes dans les ménages fiscaux'] = revenu_2020['revenu_2020_Nbre de personnes dans les ménages fiscaux'].astype(float)
revenu_2020['revenu_2020_Médiane (€)'] = revenu_2020['revenu_2020_Médiane (€)'].astype(float)
revenu_2020 = revenu_2020.rename(columns={"revenu_2020_Code géographique": "revenu_Code géographique"})
revenu_2020

,revenu_Code géographique,revenu_2020_Nbre de ménages fiscaux,revenu_2020_Nbre de personnes dans les ménages fiscaux,revenu_2020_Médiane (€)
0,01001,331.0,842.0,24820.0
1,01002,116.0,264.0,23220.0
2,01004,6882.0,15358.0,21070.0
3,01005,767.0,1939.0,24380.0
4,01006,NaN,NaN,NaN
...,...,...,...,...
34934,97420,8432.0,23712.0,17480.0
34935,97421,2487.0,6894.0,12960.0
34936,97422,30645.0,78928.0,15880.0
34937,97423,2461.0,6919.0,16250.0
34938,97424,2150.0,5460.0,13580.0

In [406]:
revenu_keep["revenu_Code géographique"].isna().sum()

np.int64(0)

In [407]:
revenu_keep[revenu_keep['revenu_Nbre de ménages fiscaux']=='nd']

Empty DataFrame
Columns: [revenu_Code géographique, revenu_Libellé géographique, revenu_Nbre de ménages fiscaux, revenu_Nbre de personnes dans les ménages fiscaux, revenu_Nbre d'unités de consommation dans les ménages fiscaux, revenu_Médiane (€)]
Index: []

In [408]:
revenu_keep['revenu_Nbre de ménages fiscaux'] = revenu_keep['revenu_Nbre de ménages fiscaux'].astype(float)
revenu_keep['revenu_Nbre de personnes dans les ménages fiscaux'] = revenu_keep['revenu_Nbre de personnes dans les ménages fiscaux'].astype(float)
revenu_keep["revenu_Nbre d'unités de consommation dans les ménages fiscaux"] = revenu_keep["revenu_Nbre d'unités de consommation dans les ménages fiscaux"].astype(float)
revenu_keep['revenu_Médiane (€)'] = revenu_keep['revenu_Médiane (€)'].astype(float)

In [409]:
revenu_keep = revenu_keep.merge(revenu_2020, on="revenu_Code géographique", how="left")

In [410]:
# Indicateurs d'évolution
revenu_keep["revenu_évolution_21_20_Nbre de ménages fiscaux"] = (revenu_keep["revenu_Nbre de ménages fiscaux"] - revenu_keep["revenu_2020_Nbre de ménages fiscaux"]) / revenu_keep["revenu_2020_Nbre de ménages fiscaux"]
revenu_keep["revenu_évolution_21_20_Nbre de personnes dans les ménages fiscaux"] = (revenu_keep["revenu_Nbre de personnes dans les ménages fiscaux"] - revenu_keep["revenu_2020_Nbre de personnes dans les ménages fiscaux"]) / revenu_keep["revenu_2020_Nbre de personnes dans les ménages fiscaux"]
revenu_keep["revenu_évolution_21_20_Médiane (€)"] = (revenu_keep["revenu_Médiane (€)"] - revenu_keep["revenu_2020_Médiane (€)"]) / revenu_keep["revenu_2020_Médiane (€)"]

revenu_keep[["revenu_évolution_21_20_Nbre de ménages fiscaux", "revenu_évolution_21_20_Nbre de personnes dans les ménages fiscaux", "revenu_évolution_21_20_Médiane (€)"]] = scaler.fit_transform(revenu_keep[["revenu_évolution_21_20_Nbre de ménages fiscaux", "revenu_évolution_21_20_Nbre de personnes dans les ménages fiscaux", "revenu_évolution_21_20_Médiane (€)"]])
revenu_keep

,revenu_Code géographique,revenu_Libellé géographique,revenu_Nbre de ménages fiscaux,revenu_Nbre de personnes dans les ménages fiscaux,revenu_Nbre d'unités de consommation dans les ménages fiscaux,revenu_Médiane (€),revenu_2020_Nbre de ménages fiscaux,revenu_2020_Nbre de personnes dans les ménages fiscaux,revenu_2020_Médiane (€),revenu_évolution_21_20_Nbre de ménages fiscaux,revenu_évolution_21_20_Nbre de personnes dans les ménages fiscaux,revenu_évolution_21_20_Médiane (€)
0,01001,L'Abergement-Clémenciat,346.0,895.0,590.8,25820.0,331.0,842.0,24820.0,1.230999,1.785014,0.219408
1,01002,L'Abergement-de-Varey,115.0,266.0,181.0,24480.0,116.0,264.0,23220.0,-0.462959,0.289327,0.617475
2,01004,Ambérieu-en-Bugey,6855.0,15092.0,10398.2,21660.0,6882.0,15358.0,21070.0,-0.315434,-0.383176,-0.130649
3,01005,Ambérieux-en-Dombes,800.0,2028.0,1329.7,24610.0,767.0,1939.0,24380.0,1.159003,1.324570,-0.659599
4,01006,Ambléon,51.0,107.0,76.6,24210.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
34924,97420,Sainte-Suzanne,8593.0,23979.0,15260.6,17720.0,8432.0,23712.0,17480.0,0.407438,0.388852,-0.537217
34925,97421,Salazie,2472.0,6847.0,4379.7,13280.0,2487.0,6894.0,12960.0,-0.381640,-0.099476,-0.224957
34926,97422,Le Tampon,31239.0,79757.0,52192.7,16560.0,30645.0,78928.0,15880.0,0.416525,0.368406,0.291512
34927,97423,Les Trois-Bassins,2505.0,7019.0,4507.7,16680.0,2461.0,6919.0,16250.0,0.369279,0.475099,-0.174530
34928,97424,Cilaos,2142.0,5333.0,3546.3,13780.0,2150.0,5460.0,13580.0,-0.309079,-0.543635,-0.508800

In [411]:
communes_final = final.merge(revenu_keep, left_on="communes_code", right_on="revenu_Code géographique", how="inner")
communes_final = communes_final.drop(columns=["indicateurs_INSEE_COM", "revenu_Code géographique", "revenu_Libellé géographique", "revenu_2020_Nbre de ménages fiscaux", "revenu_2020_Nbre de personnes dans les ménages fiscaux", "revenu_2020_Médiane (€)"])

In [412]:
communes_final

,communes_code,communes_nom,communes_geometry,rural_CODGEO,rural_LIBGEO,rural_LIBDENS,rural_P1,rural_P2,rural_P3,rural_P4,rural_P5,rural_P6,rural_P7,indicateurs_Nb_mutations,indicateurs_NbMaisons,indicateurs_NbApparts,indicateurs_propmaison,indicateurs_propappart,indicateurs_PrixMoyen,indicateurs_Prixm2Moyen,indicateurs_SurfaceMoy,indicateurs_21_Nb_mutations,indicateurs_21_PrixMoyen,indicateurs_21_Prixm2Moyen,indicateurs_Evolution_21_22_Nb_mutations,indicateurs_Evolution_21_22_PrixMoyen,indicateurs_Evolution_21_22_Prixm2Moyen,revenu_Nbre de ménages fiscaux,revenu_Nbre de personnes dans les ménages fiscaux,revenu_Nbre d'unités de consommation dans les ménages fiscaux,revenu_Médiane (€),revenu_évolution_21_20_Nbre de ménages fiscaux,revenu_évolution_21_20_Nbre de personnes dans les ménages fiscaux,revenu_évolution_21_20_Médiane (€)
0,03252,Saint-Pont,"POLYGON ((3.26205 46.16463, 3.2639 46.16695, 3...",03252,Saint-Pont,Rural à habitat dispersé,0.0,0.0,0.00,0.0,0.0,86.25,13.75,9.0,9.0,0.0,100.000000,0.000000,186123.777778,1627.111111,115.555556,10.0,157650.000000,1158.900000,-0.229770,0.065042,0.648839,275.0,690.0,458.1,23790.0,-0.531131,-0.263120,0.439545
1,05039,Aubessagne,"POLYGON ((6.03282 44.71293, 6.03339 44.71395, ...",05039,Aubessagne,Rural à habitat très dispersé,0.0,0.0,0.00,0.0,0.0,38.59,61.41,13.0,6.0,7.0,46.153846,53.846154,104973.846154,1628.692308,66.846154,14.0,167517.142857,2043.714286,-0.197914,-0.919612,-0.801995,311.0,659.0,466.2,20740.0,-0.292880,-0.037730,-0.166806
2,16203,Mainzac,"POLYGON ((0.46574 45.53962, 0.46431 45.54032, ...",16203,Mainzac,Rural à habitat très dispersé,0.0,0.0,0.00,0.0,0.0,0.00,100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,114.0,85.2,21030.0,3.172678,3.561577,1.983091
3,16372,Souffrignac,"POLYGON ((0.49858 45.56477, 0.49624 45.56569, ...",16372,Souffrignac,Rural à habitat très dispersé,0.0,0.0,0.00,0.0,0.0,0.00,100.00,4.0,4.0,0.0,100.000000,0.000000,179375.000000,1289.750000,123.750000,6.0,138850.000000,1254.000000,-0.489928,0.262780,-0.248554,70.0,135.0,99.5,20110.0,0.731477,2.014169,-0.540667
4,24002,Agonac,"POLYGON ((0.68751 45.30032, 0.69055 45.30082, ...",24002,Agonac,Rural à habitat dispersé,0.0,0.0,0.00,0.0,0.0,69.08,30.92,31.0,29.0,2.0,93.548387,6.451613,133275.645161,1406.387097,94.258065,23.0,159673.913043,1402.217391,0.269540,-0.549851,-0.309579,743.0,1725.0,1178.0,23340.0,-0.276531,0.725937,0.588576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34819,33533,Toulenne,"POLYGON ((-0.2749 44.57754, -0.27077 44.57379,...",33533,Toulenne,Petites villes,0.0,0.0,76.76,0.0,0.0,23.06,0.18,36.0,28.0,8.0,77.777778,22.222222,184628.888889,2224.638889,83.222222,41.0,182919.048780,1979.317073,-0.254244,-0.239376,-0.020483,1229.0,2705.0,1877.8,21740.0,0.837042,1.067908,0.344752
34820,33543,Verdelais,"POLYGON ((-0.28344 44.58404, -0.27936 44.58562...",33543,Verdelais,Petites villes,0.0,0.0,73.91,0.0,0.0,20.16,5.93,23.0,23.0,0.0,100.000000,0.000000,207791.739130,2143.826087,101.391304,20.0,200210.050000,1741.900000,0.048971,-0.188681,0.234745,417.0,928.0,639.8,21370.0,-0.267354,0.026592,0.007920
34821,33547,Villandraut,"POLYGON ((-0.40902 44.45365, -0.40668 44.45628...",33547,Villandraut,Rural à habitat dispersé,0.0,0.0,0.00,0.0,0.0,88.22,11.78,11.0,10.0,1.0,90.909091,9.090909,186536.363636,2475.363636,77.818182,16.0,193328.125000,1834.875000,-0.466699,-0.318434,0.517519,520.0,1111.0,783.9,21090.0,0.360913,-0.322423,-0.151295
34822,40032,Belhade,"POLYGON ((-0.71017 44.34474, -0.71217 44.35558...",40032,Belhade,Rural à habitat très dispersé,0.0,0.0,0.00,0.0,0.0,24.66,75.34,3.0,3.0,0.0,100.000000,0.000000,225763.000000,2412.666667,101.666667,3.0,190000.000000,1874.000000,-0.118273,0.078573,0.370253,96.0,232.0,155.6,20040.0,-2.039616,-1.860236,-0.018866
34823,75056,Paris,"POLYGON ((2.42757 48.84157, 2.43718 48.84089, ...",75056,Paris,Grands centres urbains,100.0,0.0,0.00,0.0,0.0,0.00,0.00,32746.0,118.0,32628.0,0.360349,99.639651,578085.521896,10697.797685,52.976608,30244.0,579575.953049,10779.958603,-0.026036,-0.260562,-0.334900,1007247.0,1958437.0,1430678.9,29730.0,-0.958297,-0.855105,0.001769

In [413]:
communes_final.isna().mean().reset_index(name='mean').sort_values(by='mean')

                                                index      mean
0                                       communes_code  0.000000
1                                        communes_nom  0.000000
2                                   communes_geometry  0.000000
3                                        rural_CODGEO  0.000000
4                                        rural_LIBGEO  0.000000
5                                       rural_LIBDENS  0.000000
6                                            rural_P1  0.000000
7                                            rural_P2  0.000000
8                                            rural_P3  0.000000
9                                            rural_P4  0.000000
10                                           rural_P5  0.000000
11                                           rural_P6  0.000000
12                                           rural_P7  0.000000
30                                 revenu_Médiane (€)  0.103492
29  revenu_Nbre d'unités de consommation dans les ...  0.103492
28  revenu_Nbre de personnes dans les ménages fiscaux  0.103492
27                     revenu_Nbre de ménages fiscaux  0.103492
31     revenu_évolution_21_20_Nbre de ménages fiscaux  0.107196
33                 revenu_évolution_21_20_Médiane (€)  0.107196
32  revenu_évolution_21_20_Nbre de personnes dans ...  0.107196
15                              indicateurs_NbApparts  0.112336
16                             indicateurs_propmaison  0.112336
13                           indicateurs_Nb_mutations  0.112336
14                              indicateurs_NbMaisons  0.112336
23                         indicateurs_21_Prixm2Moyen  0.112336
22                           indicateurs_21_PrixMoyen  0.112336
21                        indicateurs_21_Nb_mutations  0.112336
20                             indicateurs_SurfaceMoy  0.112336
19                            indicateurs_Prixm2Moyen  0.112336
26            indicateurs_Evolution_21_22_Prixm2Moyen  0.112336
18                              indicateurs_PrixMoyen  0.112336
17                             indicateurs_propappart  0.112336
25              indicateurs_Evolution_21_22_PrixMoyen  0.112336
24           indicateurs_Evolution_21_22_Nb_mutations  0.112336

In [414]:
communes_final.isna().mean().reset_index(name='mean').sort_values(by='mean')

                                                index      mean
0                                       communes_code  0.000000
1                                        communes_nom  0.000000
2                                   communes_geometry  0.000000
3                                        rural_CODGEO  0.000000
4                                        rural_LIBGEO  0.000000
5                                       rural_LIBDENS  0.000000
6                                            rural_P1  0.000000
7                                            rural_P2  0.000000
8                                            rural_P3  0.000000
9                                            rural_P4  0.000000
10                                           rural_P5  0.000000
11                                           rural_P6  0.000000
12                                           rural_P7  0.000000
30                                 revenu_Médiane (€)  0.103492
29  revenu_Nbre d'unités de consommation dans les ...  0.103492
28  revenu_Nbre de personnes dans les ménages fiscaux  0.103492
27                     revenu_Nbre de ménages fiscaux  0.103492
31     revenu_évolution_21_20_Nbre de ménages fiscaux  0.107196
33                 revenu_évolution_21_20_Médiane (€)  0.107196
32  revenu_évolution_21_20_Nbre de personnes dans ...  0.107196
15                              indicateurs_NbApparts  0.112336
16                             indicateurs_propmaison  0.112336
13                           indicateurs_Nb_mutations  0.112336
14                              indicateurs_NbMaisons  0.112336
23                         indicateurs_21_Prixm2Moyen  0.112336
22                           indicateurs_21_PrixMoyen  0.112336
21                        indicateurs_21_Nb_mutations  0.112336
20                             indicateurs_SurfaceMoy  0.112336
19                            indicateurs_Prixm2Moyen  0.112336
26            indicateurs_Evolution_21_22_Prixm2Moyen  0.112336
18                              indicateurs_PrixMoyen  0.112336
17                             indicateurs_propappart  0.112336
25              indicateurs_Evolution_21_22_PrixMoyen  0.112336
24           indicateurs_Evolution_21_22_Nb_mutations  0.112336

In [415]:
communes_final.to_file("data/communes_columns.geojson", driver="GeoJSON")

In [96]:
revenu_keep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34929 entries, 0 to 34928
Data columns (total 6 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   revenu_Code géographique                                       34929 non-null  object
 1   revenu_Libellé géographique                                    34929 non-null  object
 2   revenu_Nbre de ménages fiscaux                                 31325 non-null  float64
 3   revenu_Nbre de personnes dans les ménages fiscaux              31325 non-null  float64
 4   revenu_Nbre d'unités de consommation dans les ménages fiscaux  31325 non-null  float64
 5   revenu_Médiane (€)                                             31325 non-null  float64
dtypes: float64(4), object(2)
memory usage: 1.6+ MB