In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_theme()
from utils import func as f
import geopandas as gpd
import folium
from folium.plugins import HeatMap
from shapely.geometry import Point

In [8]:
pd.set_option('display.max_columns', None)

In [9]:
rural = pd.read_csv(r"C:\Users\zetru\Downloads\communes-urbaines-et-rurales-france-millesime.csv", sep=';')
rural = rural.loc[rural["Année"]==2010]
rural = rural.dropna(subset=["Code géographique"])
rural

,Code géographique,Libellé géographique,Région,Département,Unité urbaine,Libellé de l’unité urbaine,Type,Statut,Population sans double compte,Année,codgeo_2019
579,54576.0,Villers-le-Rond,44.0,54,54000,Communes rurales du département 54,RURAL,R,NaN,2010,54576.0
580,55025.0,Baâlon,44.0,55,55000,Communes rurales du département 55,RURAL,R,NaN,2010,55025.0
581,55033.0,Baulny,44.0,55,55000,Communes rurales du département 55,RURAL,R,NaN,2010,55033.0
582,55157.0,Dommartin-la-Montagne,44.0,55,55000,Communes rurales du département 55,RURAL,R,NaN,2010,55157.0
583,55182.0,Éton,44.0,55,55000,Communes rurales du département 55,RURAL,R,NaN,2010,55182.0
...,...,...,...,...,...,...,...,...,...,...,...
71648,97117.0,Le Moule,1.0,971,9A701,Pointe-à-Pitre - Les Abymes,URBAIN,B,NaN,2010,97117.0
71649,97132.0,Trois-Rivières,1.0,971,9A501,Basse-Terre,URBAIN,C,NaN,2010,97132.0
71650,97232.0,Le Vauclin,2.0,972,9B602,Le Robert,URBAIN,B,NaN,2010,97232.0
71651,97233.0,Le Morne-Vert,2.0,972,9B000,Communes rurales du département 972,RURAL,R,NaN,2010,97233.0
71652,97413.0,Saint-Leu,4.0,974,9D403,Saint-Leu,URBAIN,I,NaN,2010,97413.0

In [10]:
rural = rural[["Code géographique", "Libellé géographique", "Type", "Statut"]]

In [11]:
rural["Code géographique"] = rural["Code géographique"].astype("Int64").astype(str)

C:\Users\zetru\AppData\Local\Temp\ipykernel_30100\1865574414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rural["Code géographique"] = rural["Code géographique"].astype("Int64").astype(str)

In [12]:
communes = gpd.read_file("C:/Users/zetru/OneDrive/Bureau/Projets python/géographie/communes.geojson")
communes

        code          nom                                           geometry
0      03252   Saint-Pont  POLYGON ((3.26205 46.16463, 3.2639 46.16695, 3...
1      05039   Aubessagne  POLYGON ((6.03282 44.71293, 6.03339 44.71395, ...
2      16203      Mainzac  POLYGON ((0.46574 45.53962, 0.46431 45.54032, ...
3      16372  Souffrignac  POLYGON ((0.49858 45.56477, 0.49624 45.56569, ...
4      24002       Agonac  POLYGON ((0.68751 45.30032, 0.69055 45.30082, ...
...      ...          ...                                                ...
35223  33533     Toulenne  POLYGON ((-0.2749 44.57754, -0.27077 44.57379,...
35224  33543    Verdelais  POLYGON ((-0.28344 44.58404, -0.27936 44.58562...
35225  33547  Villandraut  POLYGON ((-0.40902 44.45365, -0.40668 44.45628...
35226  40032      Belhade  POLYGON ((-0.71017 44.34474, -0.71217 44.35558...
35227  75056        Paris  POLYGON ((2.42757 48.84157, 2.43718 48.84089, ...

[35228 rows x 3 columns]

In [13]:
communes['code'].isna().sum()

np.int64(0)

In [14]:
communes = communes.add_prefix('communes_')
rural = rural.add_prefix('rural_')

df_com = communes.merge(rural, left_on="communes_code", right_on="rural_Code géographique", how="left")
df_com

,communes_code,communes_nom,communes_geometry,rural_Code géographique,rural_Libellé géographique,rural_Type,rural_Statut
0,03252,Saint-Pont,"POLYGON ((3.26205 46.16463, 3.2639 46.16695, 3...",NaN,NaN,NaN,NaN
1,05039,Aubessagne,"POLYGON ((6.03282 44.71293, 6.03339 44.71395, ...",NaN,NaN,NaN,NaN
2,16203,Mainzac,"POLYGON ((0.46574 45.53962, 0.46431 45.54032, ...",16203,Mainzac,RURAL,R
3,16372,Souffrignac,"POLYGON ((0.49858 45.56477, 0.49624 45.56569, ...",16372,Souffrignac,RURAL,R
4,24002,Agonac,"POLYGON ((0.68751 45.30032, 0.69055 45.30082, ...",24002,Agonac,RURAL,R
...,...,...,...,...,...,...,...
35223,33533,Toulenne,"POLYGON ((-0.2749 44.57754, -0.27077 44.57379,...",33533,Toulenne,URBAIN,B
35224,33543,Verdelais,"POLYGON ((-0.28344 44.58404, -0.27936 44.58562...",33543,Verdelais,URBAIN,B
35225,33547,Villandraut,"POLYGON ((-0.40902 44.45365, -0.40668 44.45628...",33547,Villandraut,RURAL,R
35226,40032,Belhade,"POLYGON ((-0.71017 44.34474, -0.71217 44.35558...",40032,Belhade,RURAL,R
35227,75056,Paris,"POLYGON ((2.42757 48.84157, 2.43718 48.84089, ...",75056,Paris,URBAIN,C

In [15]:
31337/35228*100

88.95480867491767

df_com.crs

In [16]:
indicateurs = pd.read_csv(r"C:\Users\zetru\Downloads\dvf2022.csv")
indicateurs

,Unnamed: 0,INSEE_COM,Annee,Nb_mutations,NbMaisons,NbApparts,propmaison,propappart,PrixMoyen,Prixm2Moyen,SurfaceMoy
0,1,01001,2022,10,10.0,0.0,100.000000,0.000000,317196.200000,2773.700000,118.000000
1,2,01002,2022,3,3.0,0.0,100.000000,0.000000,330966.666667,2575.666667,135.333333
2,3,01004,2022,217,128.0,89.0,58.986175,41.013825,204375.921659,2471.317972,83.004608
3,4,01005,2022,35,32.0,3.0,91.428571,8.571429,337132.657143,3109.800000,107.228571
4,5,01006,2022,1,1.0,0.0,100.000000,0.000000,135000.000000,1421.000000,95.000000
...,...,...,...,...,...,...,...,...,...,...,...
30910,30911,95678,2022,19,19.0,0.0,100.000000,0.000000,383476.842105,4334.052632,98.052632
30911,30912,95680,2022,201,63.0,138.0,31.343284,68.656716,182349.104478,2739.134328,68.492537
30912,30913,95682,2022,6,5.0,1.0,83.333333,16.666667,219833.333333,2543.166667,93.833333
30913,30914,95690,2022,6,6.0,0.0,100.000000,0.000000,294966.666667,3337.833333,95.000000
30914,30915,NaN,2022,10711,NaN,NaN,50.592848,49.407152,223871.157128,3050.074783,74.685557

In [17]:
indicateurs = indicateurs.drop(columns=["Unnamed: 0", "Annee"])

In [18]:
indicateurs = indicateurs.add_prefix('indicateurs_')
final = pd.merge(df_com, indicateurs, left_on="communes_code", right_on="indicateurs_INSEE_COM", how="left")
final

,communes_code,communes_nom,communes_geometry,rural_Code géographique,rural_Libellé géographique,rural_Type,rural_Statut,indicateurs_INSEE_COM,indicateurs_Nb_mutations,indicateurs_NbMaisons,indicateurs_NbApparts,indicateurs_propmaison,indicateurs_propappart,indicateurs_PrixMoyen,indicateurs_Prixm2Moyen,indicateurs_SurfaceMoy
0,03252,Saint-Pont,"POLYGON ((3.26205 46.16463, 3.2639 46.16695, 3...",NaN,NaN,NaN,NaN,03252,9.0,9.0,0.0,100.000000,0.000000,186123.777778,1627.111111,115.555556
1,05039,Aubessagne,"POLYGON ((6.03282 44.71293, 6.03339 44.71395, ...",NaN,NaN,NaN,NaN,05039,13.0,6.0,7.0,46.153846,53.846154,104973.846154,1628.692308,66.846154
2,16203,Mainzac,"POLYGON ((0.46574 45.53962, 0.46431 45.54032, ...",16203,Mainzac,RURAL,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16372,Souffrignac,"POLYGON ((0.49858 45.56477, 0.49624 45.56569, ...",16372,Souffrignac,RURAL,R,16372,4.0,4.0,0.0,100.000000,0.000000,179375.000000,1289.750000,123.750000
4,24002,Agonac,"POLYGON ((0.68751 45.30032, 0.69055 45.30082, ...",24002,Agonac,RURAL,R,24002,31.0,29.0,2.0,93.548387,6.451613,133275.645161,1406.387097,94.258065
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35223,33533,Toulenne,"POLYGON ((-0.2749 44.57754, -0.27077 44.57379,...",33533,Toulenne,URBAIN,B,33533,36.0,28.0,8.0,77.777778,22.222222,184628.888889,2224.638889,83.222222
35224,33543,Verdelais,"POLYGON ((-0.28344 44.58404, -0.27936 44.58562...",33543,Verdelais,URBAIN,B,33543,23.0,23.0,0.0,100.000000,0.000000,207791.739130,2143.826087,101.391304
35225,33547,Villandraut,"POLYGON ((-0.40902 44.45365, -0.40668 44.45628...",33547,Villandraut,RURAL,R,33547,11.0,10.0,1.0,90.909091,9.090909,186536.363636,2475.363636,77.818182
35226,40032,Belhade,"POLYGON ((-0.71017 44.34474, -0.71217 44.35558...",40032,Belhade,RURAL,R,40032,3.0,3.0,0.0,100.000000,0.000000,225763.000000,2412.666667,101.666667
35227,75056,Paris,"POLYGON ((2.42757 48.84157, 2.43718 48.84089, ...",75056,Paris,URBAIN,C,75056,32746.0,118.0,32628.0,0.360349,99.639651,578085.521896,10697.797685,52.976608

In [19]:
final['indicateurs_Prixm2Moyen'].isna().mean()

np.float64(0.12251618031111616)

In [20]:
final['indicateurs_Prixm2Moyen'].describe()

count    30912.000000
mean      1935.198718
std        989.283927
min        333.000000
25%       1291.500000
50%       1726.818421
75%       2311.670455
max      12963.000000
Name: indicateurs_Prixm2Moyen, dtype: float64

In [21]:
final.loc[final["indicateurs_INSEE_COM"].isna()]['rural_Statut'].isna().mean()

np.float64(0.17771084337349397)

In [22]:
final.loc[final["rural_Statut"].isna()]['indicateurs_INSEE_COM'].isna().mean()

np.float64(0.19712156258031355)

In [23]:
final[final["communes_code"]=="53005"]

,communes_code,communes_nom,communes_geometry,rural_Code géographique,rural_Libellé géographique,rural_Type,rural_Statut,indicateurs_INSEE_COM,indicateurs_Nb_mutations,indicateurs_NbMaisons,indicateurs_NbApparts,indicateurs_propmaison,indicateurs_propappart,indicateurs_PrixMoyen,indicateurs_Prixm2Moyen,indicateurs_SurfaceMoy
22441,53005,Andouillé,"POLYGON ((-0.84294 48.15309, -0.84635 48.15502...",53005,Andouillé,RURAL,R,53005,7.0,7.0,0.0,100.0,0.0,180254.714286,1521.857143,117.714286

In [24]:
revenu = pd.read_excel(
    r"C:\Users\zetru\OneDrive\Bureau\Projets python\projet bargain\revenu_commune.xlsx")

In [25]:
revenu.head()

,Code géographique,Libellé géographique,Nbre de ménages fiscaux,Nbre de personnes dans les ménages fiscaux,Nbre d'unités de consommation dans les ménages fiscaux,1er quartile (€),Médiane (€),3e quartile (€),Écart interquartile (€),1er décile (€),2e décile (€),3e décile (€),4e décile (€),6e décile (€),7e décile (€),8e décile (€),9e décile (€),rapport interdécile 9e décile/1er decile,S80/20,Indice de Gini,Part des revenus d’activité (%),dont part des salaires et traitements(%),dont part des indemnités de chômage (%),dont part des revenus des activités non salariées (%),"Part des pensions, retraites et rentes (%)",Part des revenus du patrimoine et autres revenus (%),Part de l'ensemble des prestations sociales (%),dont part des prestations familiales (%),dont part des minima sociaux (%),dont part des prestations logement (%),Part des impôts (%)
0,01001,L'Abergement-Clémenciat,346,895,"590,8",s,25820,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s
1,01002,L'Abergement-de-Varey,115,266,"181,0",s,24480,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s
2,01004,Ambérieu-en-Bugey,6855,15092,"10398,2",15800,21660,28430,12630,11890,14640,17040,19360,23980,26880,30590,36450,"3,1","4,1","0,280","72,3","65,7","3,2","3,4","25,3","10,2","7,0","2,6","3,0","1,4","-14,8"
3,01005,Ambérieux-en-Dombes,800,2028,"1329,7",20010,24610,31180,11170,15560,18980,21100,22670,26470,29780,32780,40580,"2,6","3,3","0,246","81,5","74,9","2,3","4,3","21,4","10,0","3,4","2,1","0,9","0,4","-16,3"
4,01006,Ambléon,51,107,"76,6",s,24210,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s,s

In [26]:
revenu = revenu.replace("s", np.nan)
revenu.head(5)

,Code géographique,Libellé géographique,Nbre de ménages fiscaux,Nbre de personnes dans les ménages fiscaux,Nbre d'unités de consommation dans les ménages fiscaux,1er quartile (€),Médiane (€),3e quartile (€),Écart interquartile (€),1er décile (€),2e décile (€),3e décile (€),4e décile (€),6e décile (€),7e décile (€),8e décile (€),9e décile (€),rapport interdécile 9e décile/1er decile,S80/20,Indice de Gini,Part des revenus d’activité (%),dont part des salaires et traitements(%),dont part des indemnités de chômage (%),dont part des revenus des activités non salariées (%),"Part des pensions, retraites et rentes (%)",Part des revenus du patrimoine et autres revenus (%),Part de l'ensemble des prestations sociales (%),dont part des prestations familiales (%),dont part des minima sociaux (%),dont part des prestations logement (%),Part des impôts (%)
0,01001,L'Abergement-Clémenciat,346,895,"590,8",NaN,25820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01002,L'Abergement-de-Varey,115,266,"181,0",NaN,24480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01004,Ambérieu-en-Bugey,6855,15092,"10398,2",15800,21660,28430,12630,11890,14640,17040,19360,23980,26880,30590,36450,"3,1","4,1","0,280","72,3","65,7","3,2","3,4","25,3","10,2","7,0","2,6","3,0","1,4","-14,8"
3,01005,Ambérieux-en-Dombes,800,2028,"1329,7",20010,24610,31180,11170,15560,18980,21100,22670,26470,29780,32780,40580,"2,6","3,3","0,246","81,5","74,9","2,3","4,3","21,4","10,0","3,4","2,1","0,9","0,4","-16,3"
4,01006,Ambléon,51,107,"76,6",NaN,24210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
revenu.shape

(34929, 31)

In [28]:
revenu.isna().mean().reset_index(name='mean').sort_values(by='mean').head(10)

                                               index      mean
0                                  Code géographique  0.000000
1                               Libellé géographique  0.000000
2                            Nbre de ménages fiscaux  0.102923
3         Nbre de personnes dans les ménages fiscaux  0.102923
4  Nbre d'unités de consommation dans les ménages...  0.102923
6                                        Médiane (€)  0.102923
5                                   1er quartile (€)  0.846689
7                                    3e quartile (€)  0.846689
8                            Écart interquartile (€)  0.846689
9                                     1er décile (€)  0.846689

In [30]:
revenu_keep = revenu[
    [
        "Code géographique",
        "Libellé géographique",
        "Nbre de ménages fiscaux",
        "Nbre de personnes dans les ménages fiscaux",
        "Nbre d'unités de consommation dans les ménages fiscaux",
        "Médiane (€)",
    ]
]
revenu_keep = revenu_keep.add_prefix('revenu_')

In [39]:
communes_final = final.merge(revenu_keep, left_on="communes_code", right_on="revenu_Code géographique", how="inner")
communes_final = communes_final.drop(columns=["indicateurs_INSEE_COM", "revenu_Code géographique", "revenu_Libellé géographique"])
communes_final = communes_final.rename(columns={"communes_geometry": "geometry"})

In [40]:
communes_final.head()

,communes_code,communes_nom,geometry,rural_Code géographique,rural_Libellé géographique,rural_Type,rural_Statut,indicateurs_Nb_mutations,indicateurs_NbMaisons,indicateurs_NbApparts,indicateurs_propmaison,indicateurs_propappart,indicateurs_PrixMoyen,indicateurs_Prixm2Moyen,indicateurs_SurfaceMoy,revenu_Nbre de ménages fiscaux,revenu_Nbre de personnes dans les ménages fiscaux,revenu_Nbre d'unités de consommation dans les ménages fiscaux,revenu_Médiane (€)
0,03252,Saint-Pont,"POLYGON ((3.26205 46.16463, 3.2639 46.16695, 3...",NaN,NaN,NaN,NaN,9.0,9.0,0.0,100.000000,0.000000,186123.777778,1627.111111,115.555556,275,690,"458,1",23790
1,05039,Aubessagne,"POLYGON ((6.03282 44.71293, 6.03339 44.71395, ...",NaN,NaN,NaN,NaN,13.0,6.0,7.0,46.153846,53.846154,104973.846154,1628.692308,66.846154,311,659,"466,2",20740
2,16203,Mainzac,"POLYGON ((0.46574 45.53962, 0.46431 45.54032, ...",16203,Mainzac,RURAL,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62,114,"85,2",21030
3,16372,Souffrignac,"POLYGON ((0.49858 45.56477, 0.49624 45.56569, ...",16372,Souffrignac,RURAL,R,4.0,4.0,0.0,100.000000,0.000000,179375.000000,1289.750000,123.750000,70,135,"99,5",20110
4,24002,Agonac,"POLYGON ((0.68751 45.30032, 0.69055 45.30082, ...",24002,Agonac,RURAL,R,31.0,29.0,2.0,93.548387,6.451613,133275.645161,1406.387097,94.258065,743,1725,"1178,0",23340

In [41]:
communes_final.isna().mean().reset_index(name='mean').sort_values(by='mean')

                                                index      mean
0                                       communes_code  0.000000
1                                        communes_nom  0.000000
2                                            geometry  0.000000
3                             rural_Code géographique  0.100592
4                          rural_Libellé géographique  0.100592
5                                          rural_Type  0.100592
6                                        rural_Statut  0.100592
15                     revenu_Nbre de ménages fiscaux  0.103233
17  revenu_Nbre d'unités de consommation dans les ...  0.103233
18                                 revenu_Médiane (€)  0.103233
16  revenu_Nbre de personnes dans les ménages fiscaux  0.103233
7                            indicateurs_Nb_mutations  0.112336
11                             indicateurs_propappart  0.112336
8                               indicateurs_NbMaisons  0.112336
10                             indicateurs_propmaison  0.112336
9                               indicateurs_NbApparts  0.112336
14                             indicateurs_SurfaceMoy  0.112336
13                            indicateurs_Prixm2Moyen  0.112336
12                              indicateurs_PrixMoyen  0.112336

In [44]:
communes_final.to_file("communes_columns.geojson", driver="GeoJSON")